.category-page-grid{
    display: grid;
    flex-basis: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
}


.search-section-padding{
    padding: 0 16%
}

@media (max-width: 1200px) {
    .search-section-padding{
        padding: 0 7%
    }
}

@media (max-width: 500px) {
    .search-section-padding {
        padding: 0 15px
    }
}

.search-input-wrapper {
    margin-top: 2em;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0 2em;
}


.als-search-v4-input-wrapper-with-border:after, .als-search-v4-input-wrapper-with-border:before {
    opacity: 1
}


.als-search-v4-input-wrapper-cursor {
    position: relative
}




.search-input-wrapper .als-search-v4-input-placeholder, .search-input-wrapper input {
    text-align: center;
    font-size: 2em;
    display: block;
    font-weight: normal;
    letter-spacing: 1px;
    width: 100%;
    background: #6b6b6b;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    text-transform: lowercase
}

.search-input-wrapper .als-search-v4-input-placeholder.with-pseudo-cursor, .search-input-wrapper input.with-pseudo-cursor {
    caret-color: #ffffff;
    text-shadow: 0 0 0 #fff
}

.search-input-wrapper .als-search-v4-input-placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .2;
    pointer-events: none;
    text-transform: none
}
.search-input-wrapper{
    opacity: 1;

}

@media (max-width: 752px) {
    .search-input-wrapper .als-search-v4-input-placeholder {
        font-size: 1.5em;
        padding-top: .2em
    }
}

/*.als-search-v4-input-wrapper .pseudo-cursor {*/
/*    width: 2px;*/
/*    background: #fff;*/
/*    position: absolute;*/
/*    z-index: 4;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    top: 0;*/
/*    margin-left: -1px*/
/*}*/

/*.als-search-v4-input-wrapper .pseudo-cursor.blink {*/
/*    -webkit-animation: searshv4Cursor 1s steps(1) infinite;*/
/*    animation: searshv4Cursor 1s steps(1) infinite*/
/*}*/

/*.als-search-v4-input-wrapper .pseudo-cursor.hidded {*/
/*    visibility: hidden*/
/*}*/

@keyframes searshv4Cursor {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.with-pseudo-cursor{
    z-index: 10;
}


/*          switch            */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2px;
}

.slider.round:before {
    border-radius: 50%;
}



@media screen and (max-width: 752px) {
    .category-page-grid{
        flex-basis: 100%;
        max-width: 100%;
        grid-template-columns: 1fr;
    }
    .main{
        margin-top: 2.5rem;
    }


}

.switch-fetch-req{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto;

}

.switch-fetch-req .search-switch{
    margin-top: .5rem;
    flex-basis: 49%;
    min-height: 2rem;
    color: #f0f0f0;
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    font-size: 1.1rem;
    border-radius: 2px;
    background-color: #838ec1;
}

